<!doctype html>
<html>
  <head>
    <title>Welcome to <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>

    <h1>Welcome to <%=appName%></h1>
    <p>Please select what you want to do:</p>
    <div class="navbar">
      <a href="list">List patients</a>
      <a href="search">Search for patient</a>
      <a href="addpatient">Add a new patient</a>
      <a href="register">Register new user</a>
      <a href="login">Login with us</a>
      <a href="map">Search on the map></a>
      <a href="about">About <%=appName%></a>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>
